# This is a docker-compose reference for forka's database.
# You can adjust some of the variables and parameters to what you prefer.
# Be sure to use .env to store the environment values.

services:
  postgres:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
